<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block head_title %}About Me{% endblock %}</title>
  <link href="{% static 'blog/bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen"></link>
  <link href="{% static 'single_pages/css/about.css' %}" rel="stylesheet" type="text/css" media="screen">
  <script src="https://kit.fontawesome.com/0a72eb0930.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
  {% include 'blog/navbar.html' %} <!--include는 copy&paste-->

  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-8" id="main-area">
          <h1>about 페이지 제목</h1>
            <h2>about 페이지 소제목</h2>
            <h5>about 페이지 설명</h5>
        </div>
        <div class="col-lg-4">
          <img class="img-fluid" src="{% static 'single_pages/images/my_back.png' %}">
        </div>
      </div>
    </div>
  </section>

  <section class="margin-for-footer">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>PORTFOLIO</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="card" data-toggle="modal" data-target="#portfolio1">
            <img class="card-img-top" src="{% static 'single_pages/images/automation_python.png' %}">
            <div class="card-body">
              <h5>첫번째 포트폴리오</h5>
              <p>첫번째 포트폴리오 입니다. </p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" data-toggle="modal" data-target="#portfolio2">
            <img class="card-img-top" src="{% static 'single_pages/images/inflearn_django2.png' %}">
            <div class="card-body">
              <h5>두번째 포트폴리오</h5>
              <p>두번째 포트폴리오 입니다. </p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" data-toggle="modal" data-target="#portfolio3">
            <div class="card-img-top" id="mychart1"></div>
            <div class="card-body">
              <h5>세번째 포트폴리오</h5>
              <p>세번째 포트폴리오 입니다. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    google.charts.load('current', {'packages':['line']}); //bar
    google.charts.setOnLoadCallback(drawChart);

    function drawChart(){
      var data = google.visualization.arrayToDataTable([
        ['Year', 'Sales' , 'Expenses' , 'Profit'],
        ['2014', 1000, 400, 200],
        ['2015', 1170, 460, 250],
        ['2016', 600, 1200, 300],
        ['2017', 1030, 540, 350]
      ]);
      var options = {
        chart: {
          title: 'Company Performance',
          subtitle: 'Sales, Expense, Profit: 2014-2017',
        }
      };
      var chart = new google.charts.Line(document.getElementById('mychart1')); //Bar
      chart.draw(data, google.charts.Line.convertOptions(options)); //Bar
    }
  </script>

  <!-- Modal -->
  <div class="modal fade" id="portfolio1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">포트폴리오 1</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <img class="card-img-top" src="{% static 'single_pages/images/automation_python.png' %}">
            </div>
            <div class="col-6">
              <h5>첫번째 포트폴리오</h5>
              <p>첫번째 포트폴리오 입니다. 상세한 설명을 하고 있습니다.</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="portfolio2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel2">포트폴리오 2</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <div class="card-img-top" id="mychart2"></div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="portfolio3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel3">포트폴리오 3</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <h5>Company Performance</h5>
              <table class="table table-boundary table-striped">
                <tr><th>Year</th><th>Sales</th><th>Expense</th><th>Profit</th></tr>
                <tr><th>2014</th><td>1000</td><td>400</td><td>200</td>
                <tr><th>2015</th><td>1000</td><td>400</td><td>200</td>
                <tr><th>2016</th><td>1000</td><td>400</td><td>200</td>
                <tr><th>2017</th><td>1000</td><td>400</td><td>200</td>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    google.charts.load('current', {'packages':['line']}); //bar, line
    google.charts.setOnLoadCallback(drawChart);

    function drawChart(){
      var data = google.visualization.arrayToDataTable([
        ['Year', 'Sales' , 'Expenses' , 'Profit'],
        ['2014', 1000, 400, 200],
        ['2015', 1170, 460, 250],
        ['2016', 600, 1200, 300],
        ['2017', 1030, 540, 350]
      ]);
      var options = {
        chart: {
          title: 'Company Performance',
          subtitle: 'Sales, Expense, Profit: 2014-2017',
        }
      };
      var chart = new google.charts.Line(document.getElementById('mychar1')); //Bar, Line
      chart.draw(data, google.charts.Line.convertOptions(options)); //Bar, Line
    };

    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart2);

    function drawChart2(){
      var data = google.visualization.arrayToDataTable([
        ['Year', 'Sales'],
        ['2014', 1000],
        ['2015', 1170],
        ['2016', 600],
        ['2017', 1030]
      ]);
      var options = {
        chart: {
          title: 'Company Performance',
          subtitle: 'Sales: 2014-2017',
        }
      };
      var chart = new google.visualization.PieChart(document.getElementById('mychart2'));
      chart.draw(data, options);
    };
  </script>

  <div class="fixed-bottom">
    {% include 'blog/footer.html' %}
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>
</html>